@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.asset_container {
  width: 100%;
  height: 100%;
  background-color: $main-color;
  .header_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 60px;
    padding: 50px 0 10px 0;
    .header_box {
      width: 1200px;
      height: 250px;
      background-color: #ffffff;
      line-height: 1.4;
      display: flex;
      // justify-content: space-around;
      background: #FFFFFF;
      /* boxshadow */
      box-shadow: 0px 8px 32px rgba(28, 30, 33, 0.08);
      border-radius: 16px;
      font-size: 18px;
      .header_title {
        width: 130px;
        padding-left: 30px;
      }
      .asset_box {
        @include justify-content(space-between);
        @include align-items(center);
        width: 1000px;
        height: 45px;
        padding-right: 100px;
        .asset_row {
          @include justify-content(space-between);
          @include align-items(center);
          padding: 0 20px;
          width: 400px;
          .asset_bold_text {
            font-size: 20px;
            font-weight: bold;
          }
          }
      }
    }
  }
  .contents_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    margin-top: 20px;
  }
}