@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.container {
  @include justify-content(center);
  @include align-items(center);
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: $main-color;
  color: $white;
  .login_wrap {
    max-width: 350px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 20px;
    .title {
      text-align: center;
      padding: 10px;
      font-size: 20px;
      font-weight: bold;
      color: $white;
    }
    .email_text {
      text-align: left;
      font-size: 13px;
      margin-top: 20px;
      margin-bottom: 5px;
    }
    .password_text {
      text-align: left;
      font-size: 13px;
      margin-top: 10px;
      margin-bottom: 5px;
    }
    .input {
      min-width: 300px;
      height: 42px;
      border: 1px solid $white;
      border-radius: 5px;
      color: $main-color;
      background-color: #eeeeee;
      font-size: 16px;
      padding-left: 5px;
    }
    .warning {
      font-size: 12px;
      color: red;
      margin-top: 10px;
      max-width: 230px;
      height: 20px;
      word-break: keep-all;    
    }
    .login_button {
      @include center_mid();
      width: 100%;
      height: 52px;
      margin-top: 10px;
      border: 1px solid $brand-color;
      border-radius: 30px;
      color: $brand-color;
      background-color: $main-color;
      font-size: 20px;
      cursor: pointer;
    }
    .signup_button {
      @include justify-content(space-evenly);
      margin: 10px 20px 0 20px;
      font-size: 15px;
      padding: 10px;
      .signup {
        cursor: pointer;
      }
    }
  }
}