@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.container {
  width: 1200px;
  margin:0 auto;
  padding-top:80px;

  .ranking_wrap {
    @include justify-content(space-between);
    @include align-items(center);
  }
  .ranking {
      position:relative;
      flex:1;
      width:300px;
      height:200px;
      box-shadow: 0px 8px 32px rgba(28, 30, 33, 0.08);
      border-radius: 16px;
      background-color: #fff;
      display: inline-block;
      padding:20px;
      overflow: hidden;
      // margin-right:20px;
      // padding:20px;
  }
  .rank {
      position:relative;
      flex:1.2;
      width:400px;
      height:250px;
      box-shadow: 0px 8px 32px rgba(28, 30, 33, 0.08);
      padding:20px;
      border-radius: 16px;
      background-color: #fff;
      display: inline-block;
      margin: 0px 20px 20px 20px;
  }
}

.font_title {
  color: $brand-color;
  margin-top:30px;
  font-size: 19px;
  font-weight: bold;
}

.modal_button {
  @include center_mid();
  width: 50px;
  height: 20px;
  border: 1px solid $main-color;
  border-radius: 3px;
  font-size: 10px;
  cursor: pointer;
}


// modal

.modal_wrapper {
  z-index: 1000;
  color:#fff;
  width:100%;
  height:100vh;
  position:fixed;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_in {
  width:50%;
  height:500px;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  color:black;
  padding: 50px;
}

.modal_overlay {
  position:absolute;
  width:100%;
  height:100%;

}