@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';
.container {
  width: 100%;
  height: 100%;
  background-color: $main-color;
  .header_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 60px;
    padding: 50px 0 10px 0;
    .banner_wrap {
      // width: 1200px;
      // height: 144px;
      width: 100%;
      height: 244px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      .banner_box {
        @include center_mid();
        width: 288px;
        height: 144px;
        border: 1px solid #eeeeee;
        border-radius: 3px;
        cursor: pointer;
        background-color: #ffffff;
      }
    }
    .introduce_wrap {
      width: 1200px;
      height: 289px;
      padding: 40px;
      background-color: #ffffff;
      margin: 50px 0 20px 0;
      line-height: 1.4;
      .introduce_title {
        font-size: 40px;
      }
      .introduce_description {
        font-size: 20px;
        margin-top: 20px;
      }
      .introduce_button_wrap {
        display: flex;
        flex-direction: row;
        .button_wrap {
          @include center_mid();
          width: 124px;
          font-size: 20px;
          margin: 30px 30px 0 0;
          background-color: $main-color;
          color: $brand-color;
          border: 1px solid $main-color;
          border-radius: 3px;
          padding: 5px;
          cursor: pointer;
        }
      }
    }
  }
  .contents_wrap {
    @include center_mid();
    flex-direction: column;
    padding-top: 30px;
    background-color: #ffffff;
    .table_header_wrap {
      @include center_mid();
      width: 1200px;
      height: 55px;
      justify-content: space-between;
      border-bottom: 1px solid #eeeeee;
      margin-bottom: 16px;
      .input_style {
        width: 260px;
        height: 40px;
      }
    }
  }
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.table_row {
  cursor: pointer;
  text-align: right;
  height: 49px;
  word-break: break-all;
  align-items: center;
  font-size: 14px;
  .table_favorites {
    width: 35px;
    padding-right: 10px;
  }
  .table_asset_column {
    width: 165px;
    height: 49px;
    margin: 0;
    align-items: center;
    text-align: left;
  }
  .table_current_price {
    width: 300px;
    padding: 0 13px;
    font-size: 14px;
  }
  .table_fluctate {
    width: 300px;
    padding: 0 24px 0 15px;
    font-size: 14px;
  }

  .table_accumulate_trade {
    width: 250px;
    padding: 0 13px;
    font-size: 14px;
  }
  .table_exchange_wrap {
    width: 150px;
    text-align: center;
    padding: 0 23px;
    .table_exchange {
      background-color: $white;
      padding: 5px;
      margin: 0 20px;
      color: $main-color;
      border: 1px solid $main-color;
      border-radius: 3px;
    }
  }
}

  // 배너
.banner_image_wrap {
  @include justify-content(center);
  width: 300px;
  height: 200px;
  .bannerImageWrap {
    background-size: contain;
    background-color: black;
    width: 100%;
    height: 100%;
    min-height: 212px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.button__bar {
  @include center_mid();
  display: flex;
  flex-direction: column;
  width: 1000px;
  position: absolute;
  padding: 0;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.bannerArrowBtn {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  width: 40px;
  height: 40px;
  top: calc(50% - 20px);
  cursor: pointer;
  img {
    display: block;
    width: 30%;
    height: 50%;
  }
}


.hs_introduce_wrap {
  width: 1200px;
  height: 289px;
  // padding: 40px;
  background-color: #ffffff;
  margin: 50px 0 20px 0;
  line-height: 1.4;
  position:relative;
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  /* boxshadow */
  box-shadow: 0px 8px 32px rgba(28, 30, 33, 0.08);
  border-radius: 16px;
  .introduce_title {
    font-size: 40px;
  }
  .introduce_description {
    font-size: 20px;
    margin-top: 20px;
  }
  .introduce_button_wrap {
    display: flex;
    flex-direction: row;
    .button_wrap {
      @include center_mid();
      width: 124px;
      font-size: 15px;
      font-weight: bold;
      margin: 30px 30px 0 0;
      background-color: $main-color;
      color: $brand-color;
      border: 1px solid $main-color;
      border-radius: 3px;
      padding: 5px;
      cursor: pointer;
    }
  }
}