@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.nav {
  @include justify-content(center);
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  font-size: 16px;
  background-color: $main-color;
  color: $sub-color;
  z-index: 999;

  .nav_container {
    @include justify-content(space-between);
    @include align-items(center);
    max-width: 1400px;
    width: 1200px;
    min-width: 650px;
    height: 60px;
    top: 0;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    background-color: $main-color;
    color: $white;
    z-index: 999;
    .item_container {
      @include align-items(center);
      .nav_logo {
        font-size: 20px;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        .active_title {
          font-size: 20px;
          margin-left: 10px;
          color: $brand-color;
        }
        .logo_title {
          font-size: 20px;
          margin-left: 10px;
        }
      }
      .itemWrap {
        @include justify-content(space-around);
        display: flex;
        flex-direction: "row";
        margin-left: 50px;
        padding-top: 3px;
  
        .activeItem {
          width: fit-content;
          cursor: pointer;
          margin: 10px;
          color: $brand-color;
          font-size: 16px;
          font-weight: normal;
        }
        .item {
          width: fit-content;
          cursor: pointer;
          margin: 10px;
          color: $white;
          font-size: 16px;
          font-weight: normal;
        }
      }
    }
    .button_wrap {
      @include center_mid();
      .login_btn {
        margin-right: 20px;
        color: $white;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
      }
      .signup_btn {
        @include center_mid();
        width: 110px;
        background-color: $brand-color;
        color: $main-color;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}
