//font
$font-family: 'Nanum Barun Gothic', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$main-color: #282828;
$sub-color: #ffffff;
$brand-color: #FB9310;
$gray-1: #333333;
$gray-2: #d7d7d7; //button disabled color
$gray-3: #c5c0bc;
$gray-4: #d7d7d7; //button disabled color
$gray-5: #efefef;
$gray-6: #f6f6f6;
$white: #ffffff;
$red: #f84b4b;
$blue: #0aa8b3;
